# .envrc
export PATH=$PWD/vendor/bin:$PATH

# Directory shortcuts (usage: cd $admin)
export admin="$PWD/includes/admin"
export ajax="$PWD/includes/ajax"
export core="$PWD/includes/core"
export frontend="$PWD/includes/frontend"
export i18n="$PWD/includes/i18n"

# development environment variables
export WP_DEBUG=true

# show project name in prompt
export PS1="(fe-ai-search) $PS1"
