_tmp/
.DS_Store
vendor/

# Exclude copy files
*-copy*
* copy*      # matches 'filename copy' or 'filename copy.ext'
* copy *     # matches 'filename copy .ext' or 'filename copy 2.ext'

# Exclude hidden files and backup language files
_*
*.po~
