# Exclude copy files
*-copy*
* copy*
* copy *
* copy.*

# Exclude hidden files and backup language files
_*
*-backup-*.po~
node_modules

# Exclude environment files
.env
.env.*
!.envrc.example

vendor/
_tmp/
.DS_Store
.vscode/
fe-search-ai.code-workspace
debug.log
