/* .wrap h2 {
	background: #d4d6dc;
	padding: 1rem;
	border-radius: 5px;
} */

.feas-ai-tabs-wrapper .tab-content {
	display: none;
	margin-top: 1em;
}

/* タブコンテンツの基本スタイル */
.tab-content {
	display: none;
	padding-top: 1.5em;
}
.tab-content.active {
	display: block;
}

.spin {
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
