.wp-list-table th {
	padding: 0.5rem 1rem;
}
.form-table td p {
	margin: 0 0 1rem;
}
.form-table td label,
.form-table td fieldset label {
	margin: 0 0 0.3rem !important;
	display: block;
}
h4 {
	margin: 1rem 0 0.5rem;
	font-size: 1.1rem;
}
h5 {
	margin: 1rem 0 0.5rem;
	font-size: 1rem;
}
strong {
	margin: 1rem 0 0.5rem;
}
p {
	margin: 0.5rem 0 1rem;
}
pre {
	margin: 0.5rem 0;
}
code {
	display: block;
	margin: 0.5rem 0;
	padding: 1rem;
	border-radius: 5px;
	background-color: #d4dbe6;
}
hr {
	margin: 2rem 0 1rem;
}
.CodeMirror {
	height: 500px;
}
.form-table .wp-picker-input-wrap label {
	display: inline;
}
.feas-ai-tabs-wrapper .tab-content {
	display: none;
	margin-top: 1em;
}
.tab-content {
	display: none;
	padding-top: 1.5em;
}
.tab-content.active {
	display: block;
}
.option-header {
	font-weight: bold;
	margin: 1rem 0 0.5rem;
}
a:has(.dashicons-warning) span {
	color: #f59e0b;
}
.dashicon-warning {
	color: #f59e0b;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 3px;
}
.spin {
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
